html,body{
    width: "100%";
    height: "100%";
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 4%  ;
    width: 100%;
    background-color: #30241F;
    display: flex;
    color: #ffff;   
    text-align: center;
    align-items: center;
    justify-content: center;
}


 h3{
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    color: #ffff;
    text-decoration: none;
    border: none;
    background-color: #30241F;
}

.search{
    width: 260px;
    height: 45px;
    background-color: #30241F;
    border-radius: 12px;
    margin:0 auto;
}
.search-button{
    width: 0    px;
    height: 0px;
    background-color: none;
    border: none ;
}
/* painel settings */
painel{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #716059;
}
.img-painel{
    display: block;
    width: 216px;
    height: 270px;
    justify-content: center;
    align-items: center;
    

}
/* lista */
.div-lista{
    background-color: #30241f9b;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr{
font-weight: normal;}
tr{
    text-wrap: none;
}